:root {
  --Primary: #43DDE6;
  --White: #ffffff;  
}

body {
  color: var(--White);
  background-color: var(--Primary);
}

.wrapper {
  max-inline-size: 900px;
  margin: auto;
}

.player {
  margin-block-start: 20px;
  position: relative;
}

.player-overlay {
  opacity: 0;
  transition: .5s opacity;
}

.player:hover .player-overlay {
  opacity: 1;
}

.player video {
  inline-size: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-fit: cover;
}

.player-title {
  color: white;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 20px;
}

.player-actions {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.player-progress {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  display: flex;
  z-index: 4;
}

.player-progress input {
  flex: 1;
  margin: 10px 20px;
}

.button {
  inline-size: 32px;
  block-size: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

#backward {
  background-image: url('../images/-10.svg');
}

#play {
  background-image: url('../images/play.svg');
}

#pause {
  background-image: url('../images/pause.svg');
}

#forward {
  background-image: url('../images/+10.svg');
}
